@font-face{
    font-family: 'eskel-small';
    src: url('eksell-display-font/ekselldisplaytrial-small.otf') format('opentype');
}
@font-face {
    font-family: 'eskell-medium';
    src: url(eksell-display-font/ekselldisplaytrial-medium.otf) format('opentype');
}